#sample4 { 
    border: solid 3px black;
    border-radius: 25px;
    background-color: lightgrey;
    color: black;
    font-family: Georgia;
    width: 30em;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
#sample4 .manager { 
    font-size: 1.2em;    
}
#sample4 .workerBee {
    font-style: italic;

}
